node_modules
.tmp
*.log
*.sql
*.sqlite
*.sqlite3

data

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json
